body{
    font-size: 62.5%;
}

img {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.carouselImg {
    top: -150px;
}

.welcomeCarouselText {
    position: absolute;
    bottom: 50px;
    z-index: 5;
    font-size: 1.5rem;
    left: 10px;
    display: block;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.sapUiDemoCart {
    border: 3px solid red;
    width: 100%;
}

.marginTop {
    margin-top: 2rem;
}